<p class="p--medium hide_on_small">
	{{pieces.blog.by}} <a href="/lists/blog/authors/{{author.handle}}">{{author.name}}</a><br>
	<a href="https://twitter.com/{{author.handle}}">@{{author.handle}}</a>
</p>