
<input type="checkbox" id="is_online_{{model._id}}" name="is_online" {{#if model.is_online}}checked{{/if}}>
<label for="is_online_{{model._id}}">{{pieces.admin.online}}</label>

<br>

<p><button class="" data-save disabled>{{pieces.admin.save}}</button></p>
<p><button class="button--transparent" data-destroy>{{pieces.admin.delete}}</button></p>