
<div class="padded white_back js-login_box {{#unless session.user_id}}hide{{/unless}}">
	{{#if session.user_id}}
	<div class="grid grid--guttered">
		<div class="col">
			<button class="js-show_new_post">New</button>

			<form action="#" class="hide js-new_post_form">
				<label for="title">Title</label>
				<input type="text" id="title" name="title">
				<label for="route">Url Route</label>
				<input type="text" id="route" name="route">
				<button type="submit">{{pieces.admin.submit}}</button>
			</form>
		</div>
		<div class="col">
			<button class="js-logout">{{pieces.admin.logout}}</button>
		</div>
	</div>
	{{else}}
	<form action="#" class="js-submit_login">
		<label for="email">{{pieces.admin.email_label}}</label>
		<input type="email" id="email" name="email">
		<label for="password">{{pieces.admin.password_label}}</label>
		<input type="password" id="password" name="password">
		<button type="submit">{{pieces.admin.submit}}</button>
	</form>
	{{/if}}
</div>