
{{#if cart}}

<a href="{{current_path}}" class="cart__back" data-hide data-turbolinks="false"></a>

<div class="cart__container slider">
	<a href="{{current_path}}" class="cart__close" data-hide data-turbolinks="false"><svg class="icon-close"><use xlink:href="/build/images/icons.svg#icon-close"></use></svg></a>

	<div class="slider__markers">
		<button class="slider__marker {{#if_equal current_slide 0}}slider__marker--active{{/if_equal}}" data-slide-marker=0 {{#if order}}disabled{{/if}}>0</button>
		<button class="slider__marker {{#if_equal current_slide 1}}slider__marker--active{{/if_equal}}" data-slide-marker=1 {{#if order}}disabled{{/if}}>1</button>
		{{#if order}}<button class="slider__marker {{#if_equal current_slide 2}}slider__marker--active{{/if_equal}}" data-slide-marker=2>2</button>{{/if}}
	</div>

	<div class="slider__container {{#if order}}slider__container--3{{else}}slider__container--2{{/if}}" data-slider-container>
		<div class="slide" data-slide=0 style="transform: translateX(-{{current_slide}}00%);">
			<div class="grid grid--tight_guttered grid--middle grid--center" data-slide-content>
			{{#each cart.items}}
				{{#if_in_array product.tags "workshop"}}

				<h4 class="col col--12of12 text_center">{{name}}<br>With {{product.metadata.designer}}</h4>
				<div class="col col--4of12 text_right">Amount:</div>
				<div class="col col--8of12">{{money price}} per ticket</div>
				<div class="col col--4of12 text_right">When:</div>
				<div class="col col--8of12">{{datetime product.metadata.date}}</div>
				<div class="col col--4of12 text_right">Where:</div>
				<div class="col col--8of12"><a href="{{product.metadata.location_link}}" target="_blank">{{product.metadata.location}}</a></div>

				<div class="col col--12of12">
					<div class="padded padded--tight light_grey_back medium_bottom">
						<div class="grid grid--tight_guttered grid--middle grid--center">
							<div class="col col--7of12 col--small--8of12 text_right">
								How many tickets do you need?
							</div>
							<div class="col col--3of12">
								<input type="tel" name="quantity" data-item-id="{{_id}}" value="{{quantity}}" class="input--tight flat_bottom">
							</div>
							<div class="col col--1of12">
								<button class="button--transparent" data-remove-from-cart data-item-id="{{_id}}"><svg class="icon"><use xlink:href="#icon-x"></use></svg></button>
							</div>
						</div>
					</div>
				</div>

				{{else}}

				<div class="col col--4of12">{{#if vendor_shop}}<strong>{{vendor_shop.name}}:</strong> {{/if}}{{name}}</div>
				<div class="col col--2of12"><input type="tel" name="quantity" data-item-id="{{_id}}" value="{{quantity}}" class="input--tight flat_bottom"></div>
				<div class="col col--4of12">{{quantity}} x {{money price}} = {{money sub_total}}</div>
				<div class="col col--1of12"><button class="button--transparent" data-remove-from-cart data-item-id="{{_id}}"><svg class="icon"><use xlink:href="#icon-x"></use></svg></button></div>

				{{/if_in_array}}
			{{/each}}

				{{#if cart.available_store_credit}}
				<div class="col col--12of12">
					<input type="checkbox" id="with_store_credit" name="with_store_credit" {{#if cart.with_store_credit}}checked{{/if}}>
					<label for="with_store_credit">With store credit ({{cart.available_store_credit}})</label>
				</div>
				{{/if}}

				<div class="col col--7of12 col--small--10of12 small_bottom">
					Subtotal: {{money cart.sub_total}} <span class="spaced"></span>
					Taxes: {{money cart.taxes_total}}<br>
					{{#if cart.with_store_credit}}Store credit: -{{money cart.store_credit_total}}<br>{{/if}}
					<strong>Total: {{money cart.total}}</strong>
				</div>
			</div>

			<button class="overlay__button" data-next-slide-button>Next</button>
		</div>

		<div class="slide" data-slide=1 style="transform: translateX(-{{current_slide}}00%);">
			<div class="grid grid--tight_guttered grid--middle grid--center" data-slide-content>
				<div class="col col--12of12 text_center">
					
					{{#each cart.items}}
					<h4>
					{{name}}<br>With {{product.metadata.designer}} <small>X {{quantity}}</small><br>
					</h4>
					{{/each}}

					<p>All fields are required</p>
				</div>


				<div class="col col--12of12">
					<div class="padded padded--tight light_grey_back">
						<form class="grid grid--tight_guttered grid--middle grid--center" data-login-form>
							<div class="col col--2of12">
								<label for="email">{{pieces.admin.email_label}}</label>
							</div>
							<div class="col col--10of12">
								{{#if user._id}}
								<div class="grid grid--middle grid--nowrap">
									<input type="email" id="email" name="email" value="{{user.email}}" disabled>
									<a href="#" class="button--transparent" data-logout>Logout</a>
								</div>
								{{else}}
								<input type="email" id="email" name="email" value="{{cart.email}}" required autocomplete="off" placeholder="email.address@gmail.com">
								{{/if}}
							</div>
							
							{{#unless user._id}}
							<div class="col col--2of12 {{#unless cart.requires_user}}hide{{/unless}}" data-password-box>
								<label for="password">{{pieces.admin.password_label}}</label>
							</div>
							<div class="col col--10of12 {{#unless cart.requires_user}}hide{{/unless}}" data-password-box>
								<div class="grid grid--nowrap">
									<input type="password" id="password" name="password" value="" required autocomplete="new-password" placeholder="********">
									<button type="submit" class="button--transparent spaced">Login</button>
								</div>
							</div>
							{{/unless}}
						</form>
					</div>
				</div>

				{{#if cart.total}}
				<form class="col col--12of12" id="credit_card_form" data-credit-card-form {{#if cart.requires_user}}disabled{{/if}}>
					<div class="padded padded--tight">
						<div class="grid grid--tight_guttered grid--middle">
							<div class="col col--2of12">
								<label for="number">Credit Card No.</label>
							</div>
							<div class="col col--10of12">
								<input type="tel" id="number" name="number" placeholder="4242 4242 4242 4242" required autocomplete="cc-number" value="{{#if cart.credit_card}}{{cart.credit_card.brand}} **** **** **** {{cart.credit_card.last4}}{{/if}}" {{#if cart.credit_card}}disabled{{/if}}>
							</div>

							<div class="col col--2of12">
								<label for="expiry">Exp. Date</label>
							</div>
							<div class="col col--4of12">
								<input type="tel" id="expiry" name="expiry" placeholder="MM / YY" required autocomplete="cc-exp" value="{{#if cart.credit_card}}{{cart.credit_card.exp_month}} / {{cart.credit_card.exp_year}}{{/if}}" {{#if cart.credit_card}}disabled{{/if}}>
							</div>

							<div class="col col--2of12 text_right">
								<label for="cvc">CCV</label>
							</div>
							<div class="col col--4of12">
								<input type="tel" id="cvc" name="cvc" placeholder="123" required value="{{#if cart.credit_card}}***{{/if}}" {{#if cart.credit_card}}disabled{{/if}}>
							</div>

							<div class="col col--12of12"></div>

							<div class="col col--2of12">
								<label for="billing_street">Billing Street</label>
							</div>
							<div class="col col--10of12">
							<input type="text" id="billing_street" name="billing_street" placeholder="1234 Your billing address ave." required autocomplete="street-address" value="{{#if cart.credit_card}}{{#if cart.credit_card.billing_street}}{{cart.credit_card.billing_street}}{{else}}–{{/if}}{{/if}}" {{#if cart.credit_card}}disabled{{/if}}>
							</div>

							<div class="col col--2of12">
								<label for="billing_zip">Billing Zip</label>
							</div>
							<div class="col col--4of12">
								<input type="text" id="billing_zip" name="billing_zip" placeholder="X0X 0X0" required autocomplete="postal-code" value="{{#if cart.credit_card}}{{#if cart.credit_card.billing_zip}}{{cart.credit_card.billing_zip}}{{else}}–{{/if}}{{/if}}" {{#if cart.credit_card}}disabled{{/if}}>
							</div>
						</div>
					</div>

					{{#if cart.credit_card}}<div class="small_bottom text_center"><a data-reset-credit-card-form>Use different credit card?</a></div>{{/if}}
				</form>
				{{/if}}
				

				<div class="col col--7of12 col--small--10of12 small_bottom">
					Subtotal: {{money cart.sub_total}} <span class="spaced"></span>
					Taxes: {{money cart.taxes_total}}<br>
					{{#if cart.with_store_credit}}Store credit: -{{money cart.store_credit_total}}<br>{{/if}}
					<strong>Total: {{money cart.total}}</strong>
				</div>
			</div>

			<button class="overlay__button" data-create-order {{#if cart.requires_user}}disabled{{/if}}>Pay {{money cart.total}}</button>
		</div>

		{{#if order}}
		<div class="slide" data-slide=2 style="transform: translateX(-{{current_slide}}00%);">
			<div class="padded padded--thick" data-slide-content>
				<div class="text_center">
					<h4>Thank you!</h4>

					<p class="p--medium">We've emailed your receipt and all the details of this order to:<br>
					<a href="mailto:{{#if cart.email}}{{cart.email}}{{else}}{{user.email}}{{/if}}" class="a--underline">{{#if cart.email}}{{cart.email}}{{else}}{{user.email}}{{/if}}</a></p>
				</div>
			</div>
		</div>
		{{/if}}
	</div>

	

	
</div>
{{/if}}